.contenedor {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 4fr;
}

.contenedorD {
	width: 100%;
	margin-right: 1rem;
}

.bordeDerecho {
	border-right: 1px solid rgb(198, 198, 198);
}

.contenedorT {
	margin-top: 2rem;
	display: flex;
	justify-self: center;
	width: 95%;
	flex-grow: 2;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 3rem;
}
